/* basic */
$min-width: 360px;
$img-url: "../images";
$screen-size-pc: 1280px;
$screen-size-mobile: max($screen-size-pc);



.pagenation {
	display: inline-block;
	text-align: center;
	@include zero;
	margin: 50px 0;
	padding:0 !important;
	width: 100%;
                
	a {
		background: white;
	}

	a,
	strong {
		overflow: hidden;
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		color: #222;
		width: 26px;
		line-height: 26px;
		border-radius:10px;
		margin: 0 2px;
                
		@media (min-width: $screen-size-pc) {
			width:38px;
			line-height:38px;
			font-size:16px;
		} 

		&.jump,
		&.move {
			font-size:0;
			position:relative;

			i {
				position:absolute;
				left:50%;
				top:50%;
				color: #222;
				font-size: 18px;
				transform: translateY(-50%) translateX(-50%);
			}
		}
	}

	.active,
	strong {
		font-weight: normal;
		font-weight:500;
		color:#fff;
		background:#1276C0;
	}
}

* {
	@include box-sizing;
}

input[type="password"] {
	font-family: sans-serif;

	&::placeholder {
		font-family: $myfont, "Malgun Gothic", "apple sd gothic neo", sans-serif;
	}
}

.sr-only {
	position: absolute !important;
	overflow: hidden !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	clip: rect(0, 0, 0, 0) !important;
	border: 0 !important;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}

/* default input */
input,
select,
textarea {
	background:#fff;
}

.input-box {

	span.item {
		display:inline-block;
		position:relative;
		width:100%;
		margin:0 0 16px;
		border:1px solid #E3E8EC;
		border-radius:8px;
		font-size:0;


		input[type="text"],
		input[type="password"],
		input[type="date"],
		input[type="tel"],
		select {
			
			@include border-radius(8px);
			background:#fff;
			padding:0 15px;
			outline:none;
			font-size:16px;
			color:#021526;
			width:100%;
			height:52px;
			border:none;
			background:#fff;



			&::placeholder {
				color:#939FAF;
			}

			&.error {
				border-color:#FF5353;
			}
		}

		&:focus-within {
			border-color:#03346E;
		}


		&.select {

			select {
				-webkit-appearance:none;
				-moz-appearance:none;
				appearance:none;
	
				&:read-only {
					background:#fff;
				}
	
			}

			&.bold {
				border:2px solid #6EACDA;
				font-weight:700;

				select {
	
					&:read-only {
						color:#6EACDA;
					}

				}
			}

			&::after {
				content:"";
				display:block;
				width:10px;
				height:6px;
				background:url(../images/ic_arrow_drop_point.svg) no-repeat center / 100% auto;
				position:absolute;
				right:15px;
				top:50%;
				transform:translateY(-50%);
			}
			
		}

		&:has(input:read-only) {
			border-color:#E3E8EC;
			background:#F4F7FA;

			input {
				background:transparent;
				color:#939FAF;
			}
		}

		&:has(button.send) {

			input {
				width:calc(100% - 80px);
			}

			button {
				font-size:13px;
				border:2px solid #6EACDA;
				border-radius:8px;
				height:36px;
				font-weight:700;
				color:#6EACDA;
				background:#fff;
				width:72px;
			}
		}

		&:has(button.eye) {

			input {
				width:calc(100% - 40px);
			}

			button {
				vertical-align:top;
				font-size:0;
				border:none;
				height:52px;
				background:url(../images/ic_eye_hide.svg) no-repeat center / 20px auto;
				width:32px;
			}

			&.show {

				button {
					background-image:url(../images/ic_eye_show.svg);
				}
			}
		}

	}

	hr {
		border:none;
		border-top:1px dashed #E3E8EC;
		height:0;
		margin:0 0 16px;
	}


	i.warning {
		display:block;
		position:relative;
		top:-6px;
		font-style:normal;
		color:#FF473C;
		margin:0 0 16px;
		font-size:13px;
	}

	i.counter {
		display:block;
		position:relative;
		text-align:right;
		top:-6px;
		font-style:normal;
		color:#FF473C;
		margin:0 0 16px;
		font-size:13px;
	}

	ul.info {
		margin:0 0 16px;
		padding:0;
		list-style:none;

		li {
			position:relative;
			color:#B3BDCD;
			margin:0 0 10px;
			padding:0 0 0 20px;
			font-size:13px;

			&::before {
				content:"";
				display:block;
				position:absolute;
				left:8px;
				top:4px;
				width:5px;
				height:5px;
				background:#B3BDCD;
				border-radius:50%;
			}
		}
	}
}


p.check-box {
	position:relative;
	padding-left:46px;
	font-size:13px;
	margin:16px 0;
	color:#A9A9A9;

	input[type="checkbox"] {
		position:absolute;
		left:16px;
		top:50%;
		transform:translateY(-50%);
		width:24px;
		height:24px;
		border:1px solid #e3e3e3;
		border-radius:4px;
	}
}



a {
	text-decoration: none;
	color: $text-link-color;
}

button {
	outline: none;
	border-radius: 0;
}

/* default btn */
.btn {
	display:block;
	text-align:center;


	&.main {
		background:#6EACDA;
		color:#fff;
		font-weight:700;
	}

	&.sub {
		background:#B3BDCD;
		color:#fff;
		font-weight:700;
	}

	&.fixed {
	  position:fixed;
	  left:0;
	  right:0;
	  bottom:0;
	  z-index:1400;
	  line-height:56px;
	  font-size:16px;
	  font-weight:700;

	  @media (min-width: $screen-size-pc) {
		position:static;
		border-radius:8px;
		margin:40px 0;
	  }
	}
}

/* Modal */
.modal {
	display: none;
	position: fixed;
	z-index: 2000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.3);

	&.on {
		display: block;
	}

	.modal-content {
		position: absolute;
		background-color: #fff;
		left:50%;
		top:50%;
		transform:translateY(-50%) translateX(-50%);
		width: 620px;
		max-width:calc(100% - 40px);
		border-radius:25px;
		overflow:hidden;
		padding:20px;


		h2 {
			line-height:60px;
			color:#021526;
			margin:0;
			text-align:left;
			font-size:19px;
			border-bottom:2px solid #021526;

		}

		div.text {
			padding:20px 0;
			margin:10px 0;
			height:60vh;
			overflow-y:scroll;
			font-size:12px;
			color:#3E3E3E;
			word-break:keep-all;

			strong {
				display:block;
				font-weight:700;
				margin-bottom:5px;
			}

			div {
				margin-bottom:20px;
			}
		}

		button.close {
			position:absolute;
			right:10px;
			top:24px;
			border:none;
			font-size:0;
			width:50px;
			height:50px;
			margin:0;
			background:url(../images/ic_close_white.svg) no-repeat center / 100% auto;
		}
	}
}



