/* basic */
$min-width: 360px;
$img-url: "../images";
$screen-size-pc: 1280px;
$screen-size-mobile: max($screen-size-pc);



.pagenation {
	display: inline-block;
	text-align: center;
	@include zero;
	margin: 50px 0;
	padding:0 !important;
	width: 100%;
                
	a {
		background: white;
	}

	a,
	strong {
		overflow: hidden;
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		color: #222;
		width: 26px;
		line-height: 26px;
		border-radius:10px;
		margin: 0 2px;
                
		@media (min-width: $screen-size-pc) {
			width:38px;
			line-height:38px;
			font-size:16px;
		} 

		&.jump,
		&.move {
			font-size:0;
			position:relative;

			i {
				position:absolute;
				left:50%;
				top:50%;
				color: #222;
				font-size: 18px;
				transform: translateY(-50%) translateX(-50%);
			}
		}
	}

	.active,
	strong {
		font-weight: normal;
		font-weight:500;
		color:#fff;
		background:#1276C0;
	}
}

* {
	@include box-sizing;
}

input[type="password"] {
	font-family: sans-serif;

	&::placeholder {
		font-family: $myfont, "Malgun Gothic", "apple sd gothic neo", sans-serif;
	}
}

.sr-only {
	position: absolute !important;
	overflow: hidden !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	clip: rect(0, 0, 0, 0) !important;
	border: 0 !important;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}

/* default input */
input,
select,
textarea {
	background:#fff;
}

.input-box {

	span.item {
		display:inline-block;
		position:relative;
		width:100%;
		margin:0 0 16px;
		border:1px solid #E3E8EC;
		border-radius:8px;
		font-size:0;


		input[type="text"],
		input[type="password"],
		input[type="date"],
		input[type="tel"],
		input[type="number"],
		input[type="time"],
		select {
			
			@include border-radius(8px);
			background:#fff;
			padding:0 15px;
			outline:none;
			font-size:16px;
			color:#021526;
			width:100%;
			height:52px;
			border:none;
			background:#fff;



			&::placeholder {
				color:#939FAF;
			}
		}

		textarea {

			@include border-radius(8px);
			background:#fff;
			padding:15px;
			outline:none;
			font-size:16px;
			color:#021526;
			width:100%;
			border:none;
			background:#fff;
			line-height:1.6;
			height:124px;
			
		}
		


		&.error {
			border-color:#FF5353;
		}

		&:focus-within {
			border-color:#03346E;
		}

		&.expert {
			padding-left:40px;
			background:url(../images/ic_expert_search.svg) no-repeat left 16px center / 19px auto
		}


		&:has(select) {

			select {
				-webkit-appearance:none;
				-moz-appearance:none;
				appearance:none;
	
				&:read-only {
					background:#fff;
				}
	
			}

			&.bold {
				border:2px solid #6EACDA;
				font-weight:700;

				select {
	
					&:read-only {
						color:#6EACDA;
					}

				}
			}

			&::after {
				content:"";
				display:block;
				width:10px;
				height:6px;
				background:url(../images/ic_arrow_drop_point.svg) no-repeat center / 100% auto;
				position:absolute;
				right:15px;
				top:50%;
				transform:translateY(-50%);
			}
			
		}

		&:has(input:read-only),
		&:has(textarea:read-only) {
			border-color:#E3E8EC;
			background:#F4F7FA;

			input,
			textarea {
				background:transparent;
				color:#939FAF;
			}
		}

		&:has(button.send) {

			input {
				width:calc(100% - 80px);
			}

			button {
				font-size:13px;
				border:2px solid #6EACDA;
				border-radius:8px;
				height:36px;
				font-weight:700;
				color:#6EACDA;
				background:#fff;
				width:72px;
			}
		}

		&:has(button.eye) {

			input {
				width:calc(100% - 40px);
			}

			button {
				vertical-align:top;
				font-size:0;
				border:none;
				height:52px;
				background:url(../images/ic_eye_hide.svg) no-repeat center / 20px auto;
				width:32px;
			}

			&.show {

				button {
					background-image:url(../images/ic_eye_show.svg);
				}
			}
		}

		&:has(button.date) {

			input {
				width:calc(100% - 40px);
			}

			button {
				vertical-align:top;
				font-size:0;
				border:none;
				height:52px;
				background:url(../images/ic_calendar.svg) no-repeat center / 18px auto;
				width:32px;

				&.disable {
					background-image:url(../images/ic_calendar_disable.svg);
				}
			}

		}


		&:has(label) {
			width:calc(100% - 100px);
			margin-left:100px;

			label {
				display:block;
				position:absolute;
				left:-100px;
				top:50%;
				transform:translateY(-50%);
				width:90px;
				font-size:16px;
				font-weight:700;
				color:#6EACDA;
			}

		}
	}

	hr {
		border:none;
		border-top:1px dashed #E3E8EC;
		height:0;
		margin:0 0 16px;
	}


	i.warning {
		display:block;
		position:relative;
		top:-6px;
		font-style:normal;
		color:#FF473C;
		margin:0 0 16px;
		font-size:13px;
	}

	i.counter {
		display:block;
		position:relative;
		text-align:right;
		top:-6px;
		font-style:normal;
		color:#FF473C;
		margin:0 0 16px;
		font-size:13px;
	}

	ul.info {
		margin:0 0 16px;
		padding:0;
		list-style:none;

		li {
			position:relative;
			color:#B3BDCD;
			margin:0 0 10px;
			padding:0 0 0 20px;
			font-size:13px;

			&::before {
				content:"";
				display:block;
				position:absolute;
				left:8px;
				top:4px;
				width:5px;
				height:5px;
				background:#B3BDCD;
				border-radius:50%;
			}
		}
	}
}




ul.photo-list {
	list-style:none;
	margin:0;
	padding:0;
	font-size:0;

	li {
	  position:relative;
	  margin:0 0 16px;

	  @media (min-width: $screen-size-pc) {
		display:inline-block;
		width:calc((100% - 20px)/2);

		&:nth-child(odd) {
		  margin-right:20px;
		};
	  }

	  p.image,
	  p.video {
		display:block;
		position:relative;
		margin:0 0 10px;
		width:100%;
		height:200px;
		border-radius:12px;
		overflow:hidden;

		img {
		  width:100%;
		  height:100%;
		  object-fit:cover;
		}

		&.image {

			&::before {
				content:"";
				display:block;
				position:absolute;
				left:12px;
				bottom:12px;
				width:18px;
				height:18px;
				background:url(../images/ic_image.svg) no-repeat center / 100% auto;
			}

		}

		&.video {

			&::before {
				content:"";
				display:block;
				position:absolute;
				left:12px;
				bottom:12px;
				width:18px;
				height:18px;
				background:url(../images/ic_video.svg) no-repeat center / 100% auto;
			}

		}
	  }

	  strong {
		font-size:13px;
		font-weight:400;
		color: #021526;

	  }

	  button {
		position:absolute;
		right:0;
		bottom:0;
		font-size:13px;
		border:none;
		background:none;
		margin:0;
		padding:0;
		color:#FF5353;
	  }
	}
  }





p.check-box {
	position:relative;
	padding-left:46px;
	font-size:13px;
	margin:16px 0;
	color:#A9A9A9;

	input[type="checkbox"] {
		position:absolute;
		left:16px;
		top:50%;
		transform:translateY(-50%);
		width:24px;
		height:24px;
		border:1px solid #e3e3e3;
		border-radius:4px;
	}
}




div.table-type1 {
	border:1px solid #E3E8EC;
	border-radius:12px;
	overflow:hidden;
	margin:0 0 16px;

	table {
	  width:100%;
	
	
	  
	  th,
	  td {
		position:relative;
		border-right:1px solid #E3E8EC;
		border-top:1px solid #E3E8EC;
		text-align:center;
		padding:14px 0;
		font-size:16px;
		color:#021526;

		&:last-of-type {
		  border-right:none;
		}





		p.check {
			position:absolute;
			left:16px;
			top:50%;
			transform:translateY(-50%);
			font-size:0;


			input {
			  display:none;
			}

			label {
				display:block;

				width:16px;
				height:16px;
				background:url(../images/ic_check.svg) no-repeat center / 100% auto;

			}

			input:checked + label {
				background-image:url(../images/ic_check_on.svg);
			}

		  }

		  &:has(p.check) {
			padding-left:20px;
		  }
		  

	  }

	  th {
		color:#6EACDA;
		font-weight:500;
		background:#F4F7FA;
		border-top:none;
	  }

	}
	
  }


  div.table-type2 {
	border:1px solid #E3E8EC;
	border-radius:12px;
	overflow:hidden;
	margin:0 0 16px;

	table {
	  width:100%;
	
	
	  
	  th,
	  td {
		position:relative;
		border-right:1px solid #E3E8EC;
		border-top:1px solid #E3E8EC;
		text-align:center;
		padding:14px 0;
		font-size:16px;
		color:#021526;
	}


	  th {
		color:#6EACDA;
		font-weight:500;
		background:#F4F7FA;
	  }

	  td {

		&:last-of-type {
		  border-right:none;
		}

		&.text {
			text-align:left;
			padding:14px 16px;
			line-height:1.6;
		}

	  }

	  tr:first-child {
		th,
		td {
			border-top:none;
		}
	  }
	  

	}
	
  }
  


  div.card {
	border:2px solid #E3E8EC;
	position:relative;
	border-radius:12px;
	min-height:140px;
	padding:16px 16px 16px 122px;
	margin:0 0 16px;

	&.selected {
		border-color:#03346E;
	}

	p.image {
	  position:absolute;
	  left:8px;
	  top:8px;
	  margin:0;
	  width:100px;
	  height:120px;
	  overflow:hidden;
	  border-radius:8px;

	  img {
		width:100%;
		height:100%;
		object-fit:cover;
	  }
	}

	ul {
	  list-style:none;
	  margin:0;
	  padding:0;

	  li {
		position:relative;
		font-size:16px;
		margin-bottom:10px;
		padding-left:55px;
		color:#021526;
		word-break:keep-all;

		&:last-child {
		  margin-bottom:0;
		}

		strong {
		  display:block;
		  position:absolute;
		  left:0;
		  top:0;
		  color:#6EACDA;
		  font-weight:500;
		}
	  }
	}

  }



a {
	text-decoration: none;
	color: $text-link-color;
	cursor:pointer;
}

button {
	outline: none;
	border-radius: 0;
	cursor:pointer;
}

/* default btn */
.btn {
	display:block;
	width:100%;
	text-align:center;
	border:none;
	background:#fff;


	&.main {
		background:#6EACDA;
		color:#fff;
		font-weight:700;
	}


	&.del {
		background:#FFEBEB;
		color:#FF5353;
		font-weight:700;
	}

	&.sub {
		background:#B3BDCD;
		color:#fff;
		font-weight:700;
	}

	&.fixed {
	  position:fixed;
	  left:0;
	  right:0;
	  bottom:0;
	  z-index:1400;
	  line-height:56px;
	  font-size:16px;
	  font-weight:700;

	  @media (min-width: $screen-size-pc) {
		position:static;
		border-radius:8px;
		margin:40px 0;
	  }

	  &.left {
		right:auto;
		width:50%;

		@media (min-width: $screen-size-pc) {
		  display:block;
		  width:100%;
		  margin-bottom:10px;
		}
	  }

	  &.right {
		left:auto;
		width:50%;

		@media (min-width: $screen-size-pc) {
		  display:block;
		  width:100%;
		  margin-top:10px;
		}
	  }
	}

	&.plus {
		&::before {
			content:"";
			display:inline-block;
			position:relative;
			top:3px;
			margin:0 10px 0 0;
			width:18px;
			height:18px;
			background:url(../images/ic_plus.svg) no-repeat center / 100% auto;
		
		}
	}

	&.write {
		&::before {
			content:"";
			display:inline-block;
			position:relative;
			top:3px;
			margin:0 10px 0 0;
			width:18px;
			height:18px;
			background:url(../images/ic_write.svg) no-repeat center / 100% auto;
		
		}
	}

	&.qustion {
		&::before {
			content:"";
			display:inline-block;
			position:relative;
			top:3px;
			margin:0 10px 0 0;
			width:18px;
			height:18px;
			background:url(../images/ic_qustion.svg) no-repeat center / 100% auto;
		
		}
	}
}

/* Modal */
.modal {
	display: none;
	position: fixed;
	z-index: 2000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);

	&.on {
		display: block;
	}

	.modal-content {
		position: absolute;
		background-color: #fff;
		left:50%;
		top:50%;
		transform:translateY(-50%) translateX(-50%);
		width: 620px;
		max-width:calc(100% - 40px);
		border-radius:25px;
		overflow:hidden;
		padding:20px;


		h2 {
			line-height:60px;
			color:#021526;
			margin:0;
			text-align:left;
			font-size:19px;
			border-bottom:2px solid #021526;

		}

		div.text {
			padding:20px 0;
			margin:10px 0;
			height:60vh;
			overflow-y:scroll;
			font-size:12px;
			color:#3E3E3E;
			word-break:keep-all;

			strong {
				display:block;
				font-weight:700;
				margin-bottom:5px;
			}

			div {
				margin-bottom:20px;
			}
		}

		div.file {
			padding:20px 0 0;
			max-height:60vh;
			overflow-y:scroll;


            button.add-photo {
				border:2px solid #6EACDA;
				color:#6EACDA;
				line-height:52px;
				border-radius:12px;
				font-size:16px;
				margin:0 0 16px;
				font-weight:700;
  
				&::before {
				  content:"";
				  display:inline-block;
				  position:relative;
				  top:3px;
				  width:20px;
				  height:18px;
				  background:url(../images/ic_photo.svg) no-repeat center / 100% auto;
				  margin:0 12px 0 0;
				}
			}

			ul {
				list-style:none;
				margin:0;
				padding:0;

				li {
					border-radius:8px;
					background:#E3E8EC;
					margin:0 0 10px;
					padding:15px;
					font-size:0;

					span {
						display:inline-block;
						font-size:16px;
						width:calc(100% - 40px);
						white-space:nowrap;
						overflow:hidden;
						text-overflow:ellipsis;
					}

					button {
						width:40px;
						border:none;
						background:none;
						font-size:13px;
						color:#FF473C;
					}
					
				}
			}

			button.submit {
				border:none;
				line-height:56px;
				border-radius:12px;
				font-size:16px;
				margin:34px 0 24px;
			}
		}

		div.expert {
			padding:20px 0 0;
			max-height:60vh;
			overflow-y:scroll;


			div.no-expert {
				font-size:16px;
				color:#021526;
				text-align:center;
				padding:100px 0 60px;
				background:url(../images/ic_noexpert.svg) no-repeat top 40px center / 38px auto;

				span {
					line-height:1.6;
					display:block;
				}
			}

			button.submit {
				border:none;
				line-height:56px;
				border-radius:12px;
				font-size:16px;
				margin:34px 0 24px;
			}
		}

		button.close {
			position:absolute;
			right:10px;
			top:24px;
			border:none;
			font-size:0;
			width:50px;
			height:50px;
			margin:0;
			background:url(../images/ic_close_white.svg) no-repeat center / 100% auto;
		}
	}
}



